* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background-color: #eeeeee;
}

.main {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    width: 100%;
    background-color: #393e46;
}

.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
}


.header-nav a {
    color: white;
    text-decoration: #eeeeee;
}

.header-logo h1 a {
    color: #eeeeee;
    text-decoration: none;
}

#content {
    margin-top: 5rem;
}

.characters {
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
}

.character-item {
    box-shadow: 10px 10px 36px -19px rgba(0, 0, 0, 0.75);
    background-color: #eeeeee;
}

.character-item:hover {
    /*background-color: #76ead7;*/
    box-shadow: 10px 10px 36px 0px rgba(0, 0, 0, 0.75);
}

.character-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}